---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");

    .header {
      background: linear-gradient(135deg, #5a91c7, #6c63b5, #8a4fae, #c7438d);
    }

    .header h1 {
      font-family: "Work Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }
  </style>

  <div class="bg-white min-h-screen flex flex-col">
    <main class="flex-grow md:mx-auto md:space-y-16 space-y-4">
      <header
        class="header md:px-32 md:py-16 md:mt-8 py-2 text-white flex items-center justify-center"
      >
        <h1>
          <span class="md:block md:text-9xl text-lg inline-block">
            Go Workshop
          </span>
          <span class="md:block md:text-9xl text-lg inline-block">
            Conference
          </span>
          <span
            class="md:block md:text-6xl md:leading-relaxed text-lg inline-block"
          >
            2025 IN KOBE
          </span>
        </h1>
      </header>
      <section class="flex flex-col items-center mb-8 gap-4">
        <h2 class="md:text-4xl text-lg font-bold text-center">開催概要</h2>
        <table class="text-left">
          <tbody>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
              >
                開催日
              </th>
              <td class="px-6 py-4">2025/12/13（土）</td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
              >
                会場
              </th>
              <td class="px-6 py-4">
                <a href="https://kiito.jp/access/" target="_blank">
                  デザイン・クリエイティブセンター神戸(KIITO)
                </a>
                <br />
                〒651-0082 兵庫県神戸市中央区小野浜町 1-4
              </td>
              <tr class="border-b">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  対象者
                </th>
                <td class="px-6 py-4"
                  >Go言語に興味・関心のある方</td
                >
              </tr>
            </tr>
          </tbody>
        </table>
        <div class="mt-4">
          <a
            href="https://twitter.com/goconjp?ref_src=twsrc%5Etfw"
            class="twitter-follow-button"
            data-show-count="false">Follow @goconjp</a
          ><script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"></script>
        </div>
      </section>
    </main>
  </div>
</Layout>
