---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="bg-gray-100 min-h-screen flex flex-col">
    <header class="text-white py-4" style="background-color: #01add8">
      <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-3xl font-bold">Go Workshop Conference 2025 IN KOBE</h1>
        <nav>
          <ul class="flex space-x-4">
            <li><a href="#about" class="hover:underline">About</a></li>
            <li><a href="#schedule" class="hover:underline">Schedule</a></li>
            <li><a href="#speakers" class="hover:underline">Workshops</a></li>
            <li><a href="#staffs" class="hover:underline">Staffs</a></li>
            <li><a href="#coc" class="hover:underline">Code of Conduct</a></li>
            <li><a href="#contact" class="hover:underline">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="flex-grow container mx-auto py-8">
      <section>
        <h2 class="text-2xl font-bold mb-4 text-center">開催概要</h2>
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <tbody>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
              >
               開催日 
              </th>
              <td class="px-6 py-4">???</td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
              >
              会場
              </th>
              <td class="px-6 py-4">???</td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
              >
                対象者
              </th>
              <td class="px-6 py-4">???</td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </div>
</Layout>
