---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");

    .header {
      background: linear-gradient(135deg, #5a91c7, #6c63b5, #8a4fae, #c7438d);
    }

    .header h1 {
      font-family: "Work Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }
  </style>

  <div class="bg-white min-h-screen flex flex-col">
    <main class="flex-grow md:mx-auto md:space-y-8 space-y-4">
      <header
        class="header md:px-32 md:py-16 md:mt-8 py-2 text-white flex items-center justify-center"
      >
        <h1>
          <span class="md:block md:text-9xl text-lg inline-block">
            Go Workshop
          </span>
          <span class="md:block md:text-9xl text-lg inline-block">
            Conference
          </span>
          <span
            class="md:block md:text-6xl md:leading-relaxed text-lg inline-block"
          >
            2025 IN KOBE
          </span>
        </h1>
      </header>
      <section class="flex justify-center p-4 md:text-lg">
        <div class="text-center max-w-2xl"></div>
      </section>
      <section class="flex flex-col items-center mb-8 p-4 gap-8">
        <dl class="text-center">
          <dt class="mb-2 text-xl text-gray-600 font-semibold">
            どんなイベント？
          </dt>
          <dd class="mb-8 text-lg max-w-2xl">
            Go Workshop
            Conferenceは、みんなで手を動かしながら交流するワークショップを中心としたGo言語のイベントです。初心者から上級者まで、Go言語に関心のあるすべての方を対象としています。
          </dd>
          <dt class="mb-2 text-xl text-gray-600 font-semibold">開催日</dt>
          <dd class="mb-8 text-lg">2025/12/13（土）</dd>
          <dt class="mb-2 text-xl text-gray-600 font-semibold">会場</dt>
          <dd class="text-lg">
            <a
              href="https://kiito.jp/access/"
              target="_blank"
              class="text-blue-600 hover:text-blue-800 underline hover:no-underline"
            >
              デザイン・クリエイティブセンター神戸(KIITO)
            </a>
            <br />
            〒651-0082 兵庫県神戸市中央区小野浜町 1-4
          </dd>
        </dl>
        <div
          class="text-center p-8 border border-gray-200 rounded-lg shadow-sm"
        >
          <h2 class="mb-4 text-xl text-gray-600 font-semibold">
            スタッフ募集中です！
          </h2>
          <div class="text-lg space-y-4">
            <p>
              当日・事前準備のお手伝いをしてくださる方を募集しています。<br />
              イベント運営の経験は不問です。<br />
              興味のある方はぜひお申し込みください！
            </p>
            <a
              class="inline-flex items-center justify-center p-0.5 text-sm font-medium text-gray-600 font-semibold rounded-lg bg-gradient-to-br from-blue-500 to-purple-600 focus:ring-2 focus:outline-none focus:ring-blue-300 hover:ring-2 hover:ring-blue-300"
              href="https://docs.google.com/forms/d/e/1FAIpQLSfQMTjI0kG8Xq1j4K-aBZh_o6AdT8tv8xgDcuC0NVSM47cS4g/viewform"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-transparent"
              >
                お申し込みフォームはこちら
              </span>
            </a>
          </div>
        </div>
        <div>
          <a
            href="https://twitter.com/goconjp?ref_src=twsrc%5Etfw"
            class="twitter-follow-button"
            data-show-count="false">Follow @goconjp</a
          ><script
            is:inline
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"></script>
        </div>
      </section>
    </main>
  </div>
</Layout>
